{% extends 'base_app.html' %}

{% block title %}
    전체 환자 수
{% endblock %}

{% block content %}

    <div class="leftsidenav">
        <a href="{% url 'visit:visit' %}">유형별 통계</a>
        <a href="{% url 'visit:gender' %}">성별 통계</a>
        <a href="{% url 'visit:race' %}">인종별 통계</a>
        <a href="{% url 'visit:ethnicity' %}">민족별 통계</a>
        <a href="{% url 'visit:birth' %}">나이별 통계</a>
    </div>

    <div class="main">
        <h3>방문 유형에 대한 비율</h3>

        <br/>

        <div class="container">
            <table id="concept_table" class="table table-bordered sm-2 text-center">
                <tr>
                    <th>방문 유형</th>
                    <th>방문 횟수</th>
                </tr>
            </table>
        </div>
    </div>


{% endblock %}

{% block extra-script %}
    <script>

        var visit_data = []

        var groups = ['visit_gender/8507', 'visit_gender/8532']

        var labels = ['남자', '여자']

        var j = 0

        for (var i = 0; i < groups.length; i++) {
            $.ajax({
                url: {% url 'visit:visit' %} +groups[i],
                dataType: 'json',
                async: false,
                success: function (data) {
                    var group_data = {}
                    group_data['group'] = labels[j++]
                    group_data['data'] = Object.keys(data).length
                    visit_data.push(group_data)
                }
            })
        }

        show_table(visit_data)

        function addtable(list) {
            var boarditem = "<tr>"

            for (var i in list) {
                boarditem += "<td>" + list[i] + "</td>"
            }

            boarditem += "</tr>"
            return boarditem
        }

        function show_table(data) {
            for (var i in data) {
                $('#concept_table').append(addtable(data[i]))
            }
        }

    </script>
{% endblock %}