{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block extra-style %}
    <style>
        .leftsidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            padding-top: 80px;
            border-right-style: ridge;
        }

        .leftsidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 17px;
            color: #111;
            display: block;
        }

        .leftsidenav a:hover {
            background-color: #87cefa;
        }

        .main {
            margin-left: 250px;
            margin-right: 50px;
        }
    </style>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}

{% endblock %}
