{% extends 'base_app.html' %}

{% block title %}
    전체 환자 수
{% endblock %}

{% block content %}

    <div class="leftsidenav">
        <a href="{% url 'patients:patients' %}">환자별 통계</a>
    </div>

    <div class="main">
        <h3>전체 환자에 대한 비율</h3>

        <br/>

        <div class="container">
            <canvas id="patient_chart" data-url="{% url 'patients:person-data' %}"></canvas>
        </div>

        <br/>

        <div class="container">
            <table id="patient_table" class="table table-bordered sm-2 text-center">
                <tr>
                    <th>환자 군</th>
                    <th>환자 수</th>
                </tr>
            </table>
        </div>
    </div>


{% endblock %}

{% block extra-script %}
    <script>
        var patient_data = []
        var person_number= []

        var groups = ['whole_patient', 'gender/M', 'gender/F', 'race/white', 'race/asian', 'race/black', 'ethnicity/hispanic', 'ethnicity/nonhispanic', 'death']

        var labels = ['전체 환자 수', '남자', '여자', '백인', '동양인', '흑인', '라틴계', '비 라틴계', '사망']

        var j = 0

        for (var i = 0; i < groups.length; i++) {
            $.ajax({
                url: {% url 'patients:patients' %} + groups[i],
                async: false,
                dataType: 'json',
                success: function (data) {
                    var group_data = {}
                    group_data['group'] = labels[j++]
                    group_data['data'] = Object.keys(data).length
                    patient_data.push(group_data)
                    person_number.push(Object.keys(data).length)
                }
            })
        }

        function addtable(list) {
            var boarditem = "<tr>"

            for (var i in list) {
                boarditem += "<td>" + list[i] + "</td>"
            }

            boarditem += "</tr>"
            return boarditem
        }

        show_table()

        function show_table() {
            for (var i in patient_data) {
                $('#patient_table').append(addtable(patient_data[i]))
            }
        }


        $(function () {
            var ctx = document.getElementById('patient_chart')

            var myChart = new Chart(ctx, {
                type: 'bar',
                async: false,
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Person',
                        data: person_number,
                        backgroundColor: ['rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(200, 12, 92, 0.5)',
                            'rgba(200, 12, 92, 0.5)',
                            'rgba(50, 50, 50, 0.5)'
                            ]
                    }]
                },
                options: {scales: {yAxes: [{ticks: {beginAtZero: true}}]}}
            });
        })
        console.log(patient_data.group)
    </script>
{% endblock %}